<!--this is for the admin of dep2 to view the task he approved -->

{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'calendar_app/style5.css' %}">

<title>Approved Tasks</title>
</head>

<body>
   <nav>
        <div class="logo">Logo</div>
        <ul class="nav-links">
            
 
            <li><a href="{% url 'logout' %}">Logout</a></li>
			
        </ul>
    </nav>
	
    <div class="container">
        <h1>Approved Tasks</h1>
        <ul class="task-list">
            {% for task in tasks %}
            <li>
                <span class="task-title">{{ task.title }}</span>
                <span class="task-date">{{ task.date }} {{ task.time }}</span> <br>
 				<span class="task-dat">{{ task.description }} </span>

            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>