{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'calendar_app/style2.css' %}">

<title>
</title>
</head>
<body>
   <div class="container">
    <h2>Tasks</h2>
    <ul class="task-list">
      {% for task in tasks %}
      <li class="task-item">
        <div class="task-info">
          <div class="task-date">{{ task.date }}</div>
		   <div class="task-date">{{ task.time }}</div>

          <div class="task-title">{{ task.title }}</div>
          <div class="task-description">{{ task.description }}</div>
        </div>
        <!--<button type="button" onclick="toggleDescription('{{ task.id }}')">Show Description</button>-->
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Display tasks 
    <h2>Tasks</h2>
	
	
	
    <ul>
        {% for task in tasks %}
            <li>{{ task.date }} - {{ task.title }} - {{task.description}}
			<!--<button type="button" onclick="toggleDescription('{{ task.id }}')">Show Description</button>
                <div id="description-{{ task.id }}" class="task-description">{{ task.description }}</div>
			
			</li>
        {% endfor %}
    </ul> -->
</body>
</html>