<!-- master.html  to display combine of all department-->
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Combined Data</title>
	  <link rel="stylesheet" href="{% static 'calendar_app/style5.css' %}">

</head>
<body>
    <h1>Combined Data</h1>

       <div class="container">
        <h1>Approved Tasks</h1>
        <ul class="task-list">
            {% for item in combined_data %}
            <li>
                <span class="task-title">{{ item.user }}</span>

				<span class="task-title">{{ item.title }}</span>
                <span class="task-date">{{ item.date }} {{ item.time }}</span>
				<span class="task-dat">{{ item.description }} </span>

            </li>
            {% endfor %}
        </ul>
    </div>
	
	

</body>
</html>
