#dd{
	max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    <!--background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */-->
    padding: 20px;
	padding-left:10px;
	padding-right:50px;
    border-radius: 5px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
	  
	 
	 
 }	 
 
 body{
background-color:azure;	
	
}	
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
	margin:-10px;
 }
        
 .logo {
     font-size: 24px;
     font-weight: bold;
 }
        
        
  .nav-links {
     list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
  }
        
 .nav-links li {
      margin-left: 20px;
  }
        
 .nav-links li:first-child {
     /*margin-left: 0;*/
  }
        
 .nav-links a {
     text-decoration: none;
     color: white;
     transition: color 0.3s ease;
	 margin-right:20px;
  }
        
  .nav-links a:hover {
      color: #ffcc00;
  }
  
  h1{
	 text-align:center; 
	 margin-left:50px;
	 color:#20B2AA;
	 font-family:
	  
	  
  }
  .foot{
	  background-color:#333;
	  padding:30px;
	  margin:-10px;
  }
  
  button{
	  background-color:green;
	  border:none;
	  color:white;
	  text-decoration:none;
	  font-size:16px;
	  padding:15px 15px;
	  cursor:pointer;
  }
  button:hover{
     color:black;	  
	  
 } 