<!-- templates/admin/change_list.html -->

{% extends 'admin/change_list.html' %}

{% block result_list %}
    {% if cl.result_count %}
        <div class="results">
            {% for result in cl.result_list %}
                <tr>
                    {% for item in result|dictitems %}
                        <td>{{ item.1 }}</td>
                    {% endfor %}
                    <td>
                        <a href="{% url 'admin:calendar_app_Task1_change' result.object_id %}" class="btn btn-default">Edit</a>
                        <a href="{% url 'admin:calendar_app_Task1__delete' result.object_id %}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </div>
    {% else %}
        <p>No {{ cl.model }} available.</p>
    {% endif %}
{% endblock %}